@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

body {
  font-family: 'Ubuntu', sans-serif !important;
  background-color: lightgray !important;
}

.view-img{
  width: 300px;
  height: 300px;
}

.back-btn{
  margin: 20px 240px;
}
